{% extends "base.html" %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <form action="" method="POST">
        {% csrf_token %}
    {% for field in form %}
                  <div class="form-group">
                      {{ field.errors }}
                    {{ field.label_tag }}
                      {{field}}
                  </div>
            {% endfor %}
    <input type="submit" value="submit" class="btn btn-primary">

                        <a href="{% url 'polls:add_choice' id=poll.id %}"  class="btn btn-warning">add choice</a>
                <a href="{% url 'polls:delete_poll' id=poll.id %}" class ="btn btn-warning"><i class="fas fa-trash"></i>delete</a>
         </form>
    </div>
    </div>
     <p><h2 class="text-center">thi is choice</h2></p>
            {% for choice in poll.question_set.all %}
       <P><a href="{% url 'polls:edit_choice' id=choice.id %}"><i class="fas fa-edit"></i>{{choice.choice_text}}</a> </P>

    {% endfor %}
    </div>
</div>



{% endblock %}